html {
    font-family: sans-serif;
    color: #460000;
    background-color: #ffcd94;
}

body { 
    font-size: 1.6rem;
    background-color: #FFFFFF;
}

div#header {
    border-bottom: 0.4rem solid #107820;
    background-image: url("../images/left-haskell.png"), url("../images/right.png");
    background-position: left bottom, right top;
    background-size: 12rem, 12rem;
    background-repeat: no-repeat, no-repeat;
}

div#logo a {
    color: #107820;
    text-shadow:
    -0.1rem -0.1rem 0 white,
    0.1rem -0.1rem 0 white,
    -0.1rem 0.1rem 0 white,
    0.1rem 0.1rem 0 white;
    font-size: 3.4rem;
    font-weight: bold;
    text-decoration: none;
}

div#logo a:before {
    content: "❧ ";
}

div#logo a:after {
    content: " ❧";
}

div#header #navigation a { 
    color: #107820;
    text-shadow:
    -0.1rem -0.1rem 0 white,
    0.1rem -0.1rem 0 white,
    -0.1rem 0.1rem 0 white,
    0.1rem 0.1rem 0 white; 
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 0.4rem #107820;
    font-size: 1.2rem;
    text-align: right;
}

h1, h2 {
    color: #3D007A;
}

h3 {
    color: #6100a2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h3:before {
    content: "• ";
}    

h2:before {
    content: "➸ ";
}    

a:after {
    content: "↝";
}

a {
    text-decoration: none;
}

a:link {
    color: #47afff;
}

#navigation a:after {
    content: "";
}

em {
    color: #908671;
}

code {
    color: #7A957D;
 }

div.info {
    color: #555;
    font-size: 1.4rem;
    font-style: italic;
}

@media only screen and (orientation: portrait) {
    body {
      width: 90%; 
      margin: 1.2rem auto;
      padding: 0 2%;
    }
    #header {
      margin: 4.2rem 0;
    }
    #navigation {
      margin: 0 auto 3rem;
      text-align: center;
    }
    #footer {
      text-align: center;
      padding: 1.2rem 0rem 1.2rem 0rem;
    }
    #logo {
      text-align: center;
      margin: 1rem auto 3rem;
    }
    #navigation a {
      display: block;
      line-height: 1.6;
    }
  }
  
  @media only screen and (orientation: landscape) {
    html {
      font-size: 62.5%;
    }
    body {
      width: 60rem;
      margin: 1.2rem auto;
      padding: 0 2%;
    }
    #header {
      margin: 0 0 3rem;
      padding: 1.2rem 0;
    }
    #navigation {
      margin: 0 auto 3rem;
      text-align: center;
    }
    #footer {
      text-align: center;
      padding: 1.2rem 0rem 1.2rem 0rem;
    }
    #logo {
      text-align: center;
      margin: 1rem auto 3rem;
    }
    #navigation a {
      display: inline;
      margin: 0 0.6rem;
    }
  }